<!-- fragments/flash.html -->
<div th:fragment="flash(success, error, info, warn, autocloseMs)">
    <div class="alert alert-success" th:if="${success}" th:text="${success}"
         th:attrappend="${autocloseMs} != null ? ' data-autoclose=' + ${autocloseMs} : ''"></div>

    <div class="alert alert-danger" th:if="${error}" th:text="${error}"
         th:attrappend="${autocloseMs} != null ? ' data-autoclose=' + ${autocloseMs} : ''"></div>

    <div class="alert alert-info" th:if="${info}" th:text="${info}"
         th:attrappend="${autocloseMs} != null ? ' data-autoclose=' + ${autocloseMs} : ''"></div>

    <div class="alert alert-warning" th:if="${warn}" th:text="${warn}"
         th:attrappend="${autocloseMs} != null ? ' data-autoclose=' + ${autocloseMs} : ''"></div>
</div>
